<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DBP_APP_GROUP</key>
	<string>$(DBP_APP_GROUP)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>SUBSCRIPTION_APP_GROUP</key>
	<string>$(SUBSCRIPTION_APP_GROUP)</string>
	<key>APP_CONFIGURATION_APP_GROUP</key>
	<string>$(APP_CONFIGURATION_APP_GROUP)</string>
</dict>
</plist>
