<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DISTRIBUTED_NOTIFICATIONS_PREFIX</key>
	<string>$(DISTRIBUTED_NOTIFICATIONS_PREFIX)</string>
	<key>NETP_APP_GROUP</key>
	<string>$(NETP_APP_GROUP)</string>
	<key>APP_CONFIGURATION_APP_GROUP</key>
	<string>$(APP_CONFIGURATION_APP_GROUP)</string>
	<key>NetworkExtension</key>
	<dict>
		<key>NEMachServiceName</key>
		<string>$(SYSEX_MACH_SERVICE_NAME)</string>
		<key>NEProviderClasses</key>
		<dict>
			<key>com.apple.networkextension.packet-tunnel</key>
			<string>$(PRODUCT_MODULE_NAME).MacPacketTunnelProvider</string>
			<key>com.apple.networkextension.app-proxy</key>
			<string>$(PRODUCT_MODULE_NAME).MacTransparentProxyProvider</string>
		</dict>
		<key>MAIN_BUNDLE_IDENTIFIER</key>
		<string>$(MAIN_BUNDLE_IDENTIFIER)</string>
	</dict>
</dict>
</plist>
