.html5-video-player.playing-mode.ytp-autohide ddg-icon-overlay[data-size="video-player"] {
    opacity: 0;
}

.html5-video-player.ad-showing ddg-icon-overlay[data-size="video-player"] {
    display: none;
}

.html5-video-player.ytp-hide-controls ddg-icon-overlay[data-size="video-player"] {
    display: none;
}
