[submodule "Submodules/duckduckgo-find-in-page"]
	path = macos-submodules/duckduckgo-find-in-page
	url = git@github.com:more-duckduckgo-org/duckduckgo-find-in-page.git
[submodule "Submodules/privacy-reference-tests"]
	path = macos-submodules/privacy-reference-tests
	url = git@github.com:duckduckgo/privacy-reference-tests.git
