//  Copyright © 2023 DuckDuckGo. All rights reserved.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

#include "../AppTargetsBase.xcconfig"
#include "../../AppStore.xcconfig"

// Override AppTargetsBase.xcconfig until we resolve bundle IDs.
PRODUCT_BUNDLE_IDENTIFIER[sdk=*] = $(AGENT_BUNDLE_ID_BASE)
PRODUCT_BUNDLE_IDENTIFIER[config=Debug][sdk=*] = $(AGENT_BUNDLE_ID_BASE).debug
PRODUCT_BUNDLE_IDENTIFIER[config=CI][sdk=*] = $(AGENT_BUNDLE_ID_BASE).debug
PRODUCT_BUNDLE_IDENTIFIER[config=Review][sdk=*] = $(AGENT_BUNDLE_ID_BASE).review

INFOPLIST_FILE = DuckDuckGoVPN/Info-AppStore.plist
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_LSUIElement = YES
INFOPLIST_KEY_NSPrincipalClass = Application

// Just make sure to override anything set by the AppTargetBase.xcconfig
//CODE_SIGN_STYLE[config=Debug][sdk=*] = Manual
//CODE_SIGN_STYLE[config=Release][sdk=*] = Manual

// Left empty intentionally as we currently only support debug and release builds
CODE_SIGN_ENTITLEMENTS[config=CI][sdk=macosx*] =
CODE_SIGN_ENTITLEMENTS[config=Debug][sdk=macosx*] = DuckDuckGoVPN/DuckDuckGoVPNAppStore.entitlements
CODE_SIGN_ENTITLEMENTS[config=Release][sdk=macosx*] = DuckDuckGoVPN/DuckDuckGoVPNAppStore.entitlements
CODE_SIGN_ENTITLEMENTS[config=Review][sdk=macosx*] = DuckDuckGoVPN/DuckDuckGoVPNAppStore.entitlements

CODE_SIGN_IDENTITY[sdk=macosx*] = 3rd Party Mac Developer Application
CODE_SIGN_IDENTITY[config=Debug][sdk=macosx*] = Apple Development
CODE_SIGN_IDENTITY[config=CI][sdk=macosx*] = Developer ID Application

PRODUCT_NAME_PREFIX = $(AGENT_PRODUCT_NAME)
PRODUCT_NAME = $(AGENT_PRODUCT_NAME)
PRODUCT_NAME[config=Review][arch=*][sdk=*] = $(AGENT_PRODUCT_NAME)
PRODUCT_NAME[config=Release][arch=*][sdk=*] = $(AGENT_PRODUCT_NAME)

PROVISIONING_PROFILE_SPECIFIER[sdk=macosx*] =
PROVISIONING_PROFILE_SPECIFIER[config=CI][sdk=macosx*] = match Direct com.duckduckgo.mobile.ios.vpn.agent.debug macos
PROVISIONING_PROFILE_SPECIFIER[config=Release][sdk=macosx*] = match AppStore com.duckduckgo.mobile.ios.vpn.agent macos
PROVISIONING_PROFILE_SPECIFIER[config=Review][sdk=macosx*] = match AppStore com.duckduckgo.mobile.ios.vpn.agent.review macos

FEATURE_FLAGS[arch=*][sdk=*] =
FEATURE_FLAGS[config=CI][arch=*][sdk=*] =
FEATURE_FLAGS[config=Debug][arch=*][sdk=*] =
FEATURE_FLAGS[config=Review][arch=*][sdk=*] =

ENABLE_APP_SANDBOX = YES
SWIFT_OBJC_BRIDGING_HEADER =
SKIP_INSTALL = YES
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME =

#include? "../../../LocalOverrides.xcconfig"
