//  Copyright © 2023 DuckDuckGo. All rights reserved.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

#include "../AppTargetsBase.xcconfig"
#include "../../DeveloperID.xcconfig"

BUNDLE_IDENTIFIER_PREFIX = $(NOTIFICATIONS_AGENT_BUNDLE_ID)

// Override AppTargetsBase.xcconfig until we resolve bundle IDs.
PRODUCT_BUNDLE_IDENTIFIER[sdk=*] = $(BUNDLE_IDENTIFIER_PREFIX)

INFOPLIST_FILE = DuckDuckGoNotifications/Info.plist
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_LSUIElement = YES
INFOPLIST_KEY_NSPrincipalClass = Application

CODE_SIGN_ENTITLEMENTS[sdk=macosx*] = DuckDuckGoNotifications/DuckDuckGoNotifications.entitlements

CODE_SIGN_IDENTITY[sdk=macosx*] = Developer ID Application
CODE_SIGN_IDENTITY[config=Debug][sdk=macosx*] = Apple Development

PRODUCT_NAME_PREFIX = $(NOTIFICATIONS_AGENT_PRODUCT_NAME)
PRODUCT_NAME[config=Review][arch=*][sdk=*] = $(NOTIFICATIONS_AGENT_PRODUCT_NAME)

PROVISIONING_PROFILE_SPECIFIER[sdk=macosx*] =
PROVISIONING_PROFILE_SPECIFIER[config=CI][sdk=macosx*] = match Direct HKE973VLUW.com.duckduckgo.macos.browser.network-protection.notifications.debug macos
PROVISIONING_PROFILE_SPECIFIER[config=Review][sdk=macosx*] = match Direct HKE973VLUW.com.duckduckgo.macos.browser.network-protection.notifications.review macos
PROVISIONING_PROFILE_SPECIFIER[config=Release][sdk=macosx*] = match Direct HKE973VLUW.com.duckduckgo.macos.browser.network-protection.notifications macos

FEATURE_FLAGS[arch=*][sdk=*] = NETP_SYSTEM_EXTENSION
FEATURE_FLAGS[config=CI][arch=*][sdk=*] = NETP_SYSTEM_EXTENSION
FEATURE_FLAGS[config=Debug][arch=*][sdk=*] = NETP_SYSTEM_EXTENSION
FEATURE_FLAGS[config=Review][arch=*][sdk=*] = NETP_SYSTEM_EXTENSION

SWIFT_OBJC_BRIDGING_HEADER =
SKIP_INSTALL = YES
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME =

#include? "../../../LocalOverrides.xcconfig"
