/* -- THUMBNAIL OVERLAY -- */
.ddg-overlay {
    font-family: system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    z-index: 1000;
    height: 32px;

    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 6px;

    transition: 0.15s linear background;
}

.ddg-overlay a.ddg-play-privately {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.ddg-overlay .ddg-dax,
.ddg-overlay .ddg-play-icon {
    display: inline-block;

}

.ddg-overlay .ddg-dax {
    float: left;
    padding: 4px 4px;
    width: 24px;
    height: 24px;
}

.ddg-overlay .ddg-play-text-container {
    width: 0px;
    overflow: hidden;
    float: left;
    opacity: 0;
    transition: all 0.15s linear;
}

.ddg-overlay .ddg-play-text {
    line-height: 14px;
    margin-top: 10px;
    width: 200px;
}

.ddg-overlay .ddg-play-icon {
    float: right;
    width: 24px;
    height: 20px;
    padding: 6px 4px;
}

.ddg-overlay:not([data-size="fixed small"]):hover .ddg-play-text-container {
    width: 100px;
    opacity: 1;
}

.ddg-overlay[data-size^="video-player"].hidden {
    display: none;
}

.ddg-overlay[data-size="video-player"] {
    top: 5px;
    left: 5px;
}

.ddg-overlay[data-size="video-player-with-title"] {
    top: 40px;
    left: 10px;
}

.ddg-overlay[data-size="video-player-with-paid-content"] {
    top: 65px;
    left: 11px;
}

.ddg-overlay[data-size="title"] {
    position: relative;
    margin: 0;
    float: right;
}

.ddg-overlay[data-size="title"] .ddg-play-text-container {
    width: 90px;
}

.ddg-overlay[data-size^="fixed"] {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
}

#preview .ddg-overlay {
    transition: transform 160ms ease-out 200ms;
    /*TODO: scale needs to equal 1/--ytd-video-preview-initial-scale*/
    transform: scale(1.15) translate(5px, 4px);
}

#preview ytd-video-preview[active] .ddg-overlay {
    transform:scale(1) translate(0px, 0px);
}

/* -- VIDEO PLAYER OVERLAY */
.ddg-video-player-overlay {
    font-family: system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    z-index: 10000;
}

.ddg-eyeball svg {
    width: 60px;
    height: 60px;
}

.ddg-vpo-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    text-align: center;
    background: black;
}

.ddg-vpo-bg:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,1); /* this gets overriden if the background image can be found */
    color: white;
    text-align: center;
}

.ddg-video-player-overlay[data-thumb-loaded="true"] .ddg-vpo-bg:after {
    background: rgba(0,0,0,0.75);
}

.ddg-vpo-content {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 496px;
    left: 50%;
}

.ddg-vpo-eyeball {
    margin-bottom: 18px;
}

.ddg-vpo-title {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
}

.ddg-vpo-text {
    margin-top: 16px;
}

.ddg-vpo-text b {
    font-weight: 600;
}

.ddg-vpo-buttons {
    margin-top: 25px;
}
.ddg-vpo-buttons > * {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.ddg-vpo-button {
    color: white;
    padding: 9px 16px;
    font-size: 13px;
    border-radius: 8px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}

.ddg-vpo-button + .ddg-vpo-button {
    margin-left: 10px;
}

.ddg-vpo-cancel {
    background: #585b58;
    border: 0.5px solid rgba(40, 145, 255, 0.05);
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 0.5px 0px rgba(255, 255, 255, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.05);
}

.ddg-vpo-open {
    background: #3969EF;
    border: 0.5px solid rgba(40, 145, 255, 0.05);
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 0.5px 0px rgba(255, 255, 255, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.05);
}

.ddg-vpo-open:hover {
    background: #1d51e2;
}
.ddg-vpo-cancel:hover {
    cursor: pointer;
    background: #2f2f2f;
}

.ddg-vpo-remember {
}
.ddg-vpo-remember label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    cursor: pointer;
}
.ddg-vpo-remember input {
    margin-right: 6px;
}
