//  Copyright © 2023 DuckDuckGo. All rights reserved.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

#include "ExtensionBase.xcconfig"
#include "../NetPIDs.xcconfig"
#include "../NetPOverrides.xcconfig"

PRODUCT_NAME = com.duckduckgo.macos.browser.network-protection.system-extension.extension

// Since we're using nonstandard bundle IDs we'll just define them here, but we should consider
// standardizing the bundle IDs so we can just define BUNDLE_IDENTIFIER_PREFIX
PRODUCT_BUNDLE_IDENTIFIER[sdk=*] =
PRODUCT_BUNDLE_IDENTIFIER[config=CI][sdk=*] =
PRODUCT_BUNDLE_IDENTIFIER[config=Review][sdk=*] =
PRODUCT_BUNDLE_IDENTIFIER[config=Debug][sdk=*] = com.duckduckgo.macos.browser.network-protection.system-extension.extension
PRODUCT_BUNDLE_IDENTIFIER[config=Release][sdk=*] = com.duckduckgo.macos.browser.network-protection.system-extension.extension

INFOPLIST_FILE = NetworkProtectionSystemExtension/Info.plist

CODE_SIGN_IDENTITY[sdk=macosx*] = Developer ID Application
CODE_SIGN_IDENTITY[config=Debug][sdk=macosx*] = Apple Development
CODE_SIGN_IDENTITY[config=CI][sdk=macosx*] =

// Left empty intentionally as we currently only support debug and release builds
CODE_SIGN_ENTITLEMENTS[config=Review][sdk=macosx*] =
CODE_SIGN_ENTITLEMENTS[config=CI][sdk=macosx*] =
CODE_SIGN_ENTITLEMENTS[config=Debug][sdk=macosx*] = NetworkProtectionSystemExtension/NetworkProtectionSystemExtension_Debug.entitlements
CODE_SIGN_ENTITLEMENTS[config=Release][sdk=macosx*] = NetworkProtectionSystemExtension/NetworkProtectionSystemExtension_Release.entitlements

PROVISIONING_PROFILE_SPECIFIER[config=Debug][sdk=macosx*] = Mac Browser NetP Developer ID Extension
PROVISIONING_PROFILE_SPECIFIER[config=Release][sdk=macosx*] = Mac Browser NetP Developer ID Ext. (Distribution)


// This is necessary for the sysex validation
INFOPLIST_KEY_NSSystemExtensionUsageDescription = Network Protection

NETP_EXTRA_FLAGS = NETP_SYSTEM_EXTENSION NETWORK_EXTENSION

SDKROOT = macosx
SKIP_INSTALL = YES
INFOPLIST_KEY_NSHumanReadableCopyright = Copyright © 2023 DuckDuckGo. All rights reserved.

// Not sure if the following two are needed but they were set in our targets
SWIFT_EMIT_LOC_STRINGS = YES
GENERATE_INFOPLIST_FILE = YES


