//  Copyright © 2022 DuckDuckGo. All rights reserved.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
COPY_PHASE_STRIP = NO

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT[config=CI][arch=*][sdk=*] = dwarf
DEBUG_INFORMATION_FORMAT[config=Debug][arch=*][sdk=*] = dwarf

ENABLE_NS_ASSERTIONS = NO
ENABLE_NS_ASSERTIONS[config=CI][arch=*][sdk=*] = YES
ENABLE_NS_ASSERTIONS[config=Debug][arch=*][sdk=*] = YES

ENABLE_STRICT_OBJC_MSGSEND = YES
ENABLE_TESTABILITY = NO
ENABLE_TESTABILITY[config=CI][arch=*][sdk=*] = YES
ENABLE_TESTABILITY[config=Debug][arch=*][sdk=*] = YES
GCC_C_LANGUAGE_STANDARD = gnu11
GCC_DYNAMIC_NO_PIC = NO
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL[config=CI][arch=*][sdk=*] = 0
GCC_OPTIMIZATION_LEVEL[config=Debug][arch=*][sdk=*] = 0
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES

MTL_ENABLE_DEBUG_INFO = NO
MTL_ENABLE_DEBUG_INFO[config=CI][arch=*][sdk=*] = INCLUDE_SOURCE
MTL_ENABLE_DEBUG_INFO[config=Debug][arch=*][sdk=*] = INCLUDE_SOURCE

MTL_FAST_MATH = YES

ONLY_ACTIVE_ARCH = NO
ONLY_ACTIVE_ARCH[config=Debug][arch=*][sdk=*] = YES
ONLY_ACTIVE_ARCH[config=CI][arch=*][sdk=*] = YES

SDKROOT = macosx

SWIFT_VERSION = 5.0

SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_OPTIMIZATION_LEVEL[config=CI][arch=*][sdk=*] = -Onone
SWIFT_OPTIMIZATION_LEVEL[config=Debug][arch=*][sdk=*] = -Onone

SWIFT_COMPILATION_MODE = wholemodule
SWIFT_COMPILATION_MODE[config=CI][arch=*][sdk=*] =
SWIFT_COMPILATION_MODE[config=Debug][arch=*][sdk=*] =

// This is temporarily set back to its default value, as a part of merging the VPN. There are a small number of warnings introduced in
// that feature, and more time is needed to address them. To avoid bothering other developers, this is being disabled and a task to fix it will be
// prioritized.
SWIFT_STRICT_CONCURRENCY = minimal;

DDG_SLOW_COMPILE_CHECK_THRESHOLD = 100
DDG_SLOW_COMPILE_CHECK_THRESHOLD[config=CI] = 250
DDG_SLOW_COMPILE_CHECK = -Xfrontend -warn-long-expression-type-checking=$(DDG_SLOW_COMPILE_CHECK_THRESHOLD) -Xfrontend -warn-long-function-bodies=$(DDG_SLOW_COMPILE_CHECK_THRESHOLD)
OTHER_SWIFT_FLAGS[config=Debug][arch=*][sdk=*] = $(inherited) $(DDG_SLOW_COMPILE_CHECK)
OTHER_SWIFT_FLAGS[config=CI][arch=*][sdk=*] = $(inherited) $(DDG_SLOW_COMPILE_CHECK)

// Automatically generate Color and Image asset accessor extensions
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES

// Automatically generate localization string catalogs
LOCALIZATION_PREFERS_STRING_CATALOGS = YES
SWIFT_EMIT_LOC_STRINGS = YES
