//  Copyright © 2022 DuckDuckGo. All rights reserved.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.
//

CODE_SIGN_STYLE=Automatic
COMBINE_HIDPI_IMAGES=YES
DEAD_CODE_STRIPPING=YES
DEVELOPMENT_TEAM=HKE973VLUW
INFOPLIST_FILE=UI Tests/Info.plist
MACOSX_DEPLOYMENT_TARGET=11.3
PRODUCT_BUNDLE_IDENTIFIER=com.duckduckgo.UI-Tests
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_VERSION=5.0
TEST_TARGET_NAME=DuckDuckGo Privacy Browser

CODE_SIGN_IDENTITY[config=CI]=-
LD_RUNPATH_SEARCH_PATHS[config=CI]=$(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Review]=$(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
