<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>teamID</key>
    <string>HKE973VLUW</string>
    <key>method</key>
    <string>app-store</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.duckduckgo.mobile.ios</key>
        <string>match AppStore com.duckduckgo.mobile.ios macos</string>
        <key>com.duckduckgo.mobile.ios.vpn.agent</key>
        <string>match AppStore com.duckduckgo.mobile.ios.vpn.agent macos</string>
        <key>com.duckduckgo.mobile.ios.vpn.agent.network-protection-extension</key>
        <string>match AppStore com.duckduckgo.mobile.ios.vpn.agent.network-protection-extension macos</string>
        <key>com.duckduckgo.mobile.ios.vpn.agent.proxy</key>
        <string>match AppStore com.duckduckgo.mobile.ios.vpn.agent.proxy macos</string>
        <key>com.duckduckgo.mobile.ios.review</key>
        <string>match AppStore com.duckduckgo.mobile.ios.review macos</string>
        <key>com.duckduckgo.mobile.ios.vpn.agent.review</key>
        <string>match AppStore com.duckduckgo.mobile.ios.vpn.agent.review macos</string>
        <key>com.duckduckgo.mobile.ios.vpn.agent.review.network-protection-extension</key>
        <string>match AppStore com.duckduckgo.mobile.ios.vpn.agent.review.network-protection-extension macos</string>
        <key>com.duckduckgo.mobile.ios.vpn.agent.review.proxy</key>
        <string>match AppStore com.duckduckgo.mobile.ios.vpn.agent.review.proxy macos</string>
        <key>com.duckduckgo.mobile.ios.DBP.backgroundAgent</key>
        <string>match AppStore com.duckduckgo.mobile.ios.DBP.backgroundAgent macos</string>
        <key>com.duckduckgo.mobile.ios.DBP.backgroundAgent.review</key>
        <string>match AppStore com.duckduckgo.mobile.ios.DBP.backgroundAgent.review macos</string>

    </dict>
</dict>
</plist>
