name: PR Checks

on: 
  push:
    branches: [ develop, "release/**" ]
  pull_request:
    branches: [ develop, "release/**" ]


jobs:
  swiftlint:

    name: SwiftLint

    if: github.event_name == 'pull_request'

    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v3

    - name: Run SwiftLint on files changed in the PR
      uses: norio-nomura/action-swiftlint@3.2.1
      with:
        args: --strict --force-exclude

  shellcheck:

    name: ShellCheck

    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v3

    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      with:
        format: gcc
        ignore_paths: scripts/helpers
        scandir: scripts
      env:
        SHELLCHECK_OPTS: -x -P scripts -P scripts/helpers

  unit-tests:

    name: Unit Tests

    strategy:
      matrix:
        flavor: [ "Sandbox", "Non-Sandbox" ]
        include:
          - scheme: DuckDuckGo Privacy Browser
            flavor: Non-Sandbox
          - scheme: DuckDuckGo Privacy Browser App Store
            flavor: Sandbox
          - config_override: MODULE_NAME_APP_STORE_OVERRIDE
            flavor: Non-Sandbox
          - config_override: MODULE_NAME_OVERRIDE
            flavor: Sandbox

    runs-on: macos-12
    timeout-minutes: 30

    steps:
    - name: Register SSH keys for submodules access
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: |
          ${{ secrets.SSH_PRIVATE_KEY_FIND_IN_PAGE }}
          ${{ secrets.SSH_PRIVATE_KEY_PRIVACY_DASHBOARD }}

    - name: Check out the code
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_14.1.app/Contents/Developer

    - name: Install xcbeautify
      run: brew install xcbeautify

    - name: Build and test
      run: |
        echo "${{ matrix.config_override }}=Ignored" > LocalOverrides.xcconfig
        echo "${{ matrix.config_override }}=Ignored" > LocalOverridesAppStore.xcconfig
        set -o pipefail && xcodebuild test \
          -scheme "${{ matrix.scheme }}" \
          -configuration "CI" \
          ENABLE_TESTABILITY=true \
          | xcbeautify --report junit --report-path . --junit-report-filename unittests-${{ matrix.flavor }}.xml

    - name: Publish unit tests report
      uses: mikepenz/action-junit-report@v3
      if: always() # always run even if the previous step fails
      with:
        check_name: "Test Report: ${{ matrix.flavor }}"
        report_paths: unittests-${{ matrix.flavor }}.xml

  verify-autoconsent-bundle:
    name: 'Verify autoconsent bundle'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: Build bundle
        run: |
          npm ci
          npm run rebuild-autoconsent
      - name: Verify clean tree
        run: |
          git update-index --refresh 
          git diff-index --quiet HEAD --
